<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contact us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>
        <ion-text color="secondary">
          <h1>Law Gate Near Lovely Profesional university</h1>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-card-content>
      <ion-icon name="call-outline" slot="start"></ion-icon> Call us 7983613144
    </ion-card-content>
    <ion-card-content>
      <ion-icon name="mail-outline" slot="start"></ion-icon> Mail us arunsingh28aug.as@gmail.com
    </ion-card-content>
  </ion-card>
</ion-content>