<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-tab-button tab="home">
    <ion-title class="back">
      <ion-icon name="arrow-back-outline"></ion-icon> Back
    </ion-title>
  </ion-tab-button>
  </ion-toolbar>

  

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="https://www.tajhotels.com/content/dam/vivanta/hotels/old-president,mumbai/new-image/image-new/president_image.PNG" class="img-center">
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>
        <ion-text color="secondary">
          <h1>Taj Hotel</h1>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-card-content>
      <ion-icon name="call-outline" slot="start"></ion-icon> Hotel Id : 11806879
    </ion-card-content>
    <ion-card-content>
      <ion-icon name="bookmark-outline"></ion-icon> Name : Taj Hotel
    </ion-card-content>
    <ion-card-content>
      <ion-icon name="star-half-outline"></ion-icon> Ratting : 5 Star
    </ion-card-content>
    <ion-card-content>
      <ion-icon name="podium-outline"></ion-icon> Room Type : Delux Room
    </ion-card-content>
    <ion-card-content>
      <ion-icon name="navigate-outline"></ion-icon> Address : Mumbai 
    </ion-card-content>
  </ion-card>
</ion-content>

