<ion-header>
  <ion-toolbar>
    <ion-title>
      Home  <ion-icon name="bed-outline" class="icon"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
 




<ion-content>
  <ion-card class="container">
   
    <ion-tab-button tab="taj" class="btn">
      <ion-label>
        <ion-item >
         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlrD7IrmkvAODvIGJOQgD6dG_Dx4DNZML3tg&usqp=CAU" class="img">
         <ion-label>Taj Hotel <ion-icon name="arrow-forward-outline" class="arrow"></ion-icon></ion-label>
        </ion-item>
      </ion-label>
    </ion-tab-button>

    
    <ion-tab-button tab="delux" class="btn">
      <ion-item>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlrD7IrmkvAODvIGJOQgD6dG_Dx4DNZML3tg&usqp=CAU" class="img">
        <ion-label>Hotel deLuxe <ion-icon name="arrow-forward-outline" class="arrow"></ion-icon></ion-label>
      </ion-item>
    </ion-tab-button>

  </ion-card>
</ion-content>


