<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <img src="https://images.pexels.com/photos/2869215/pexels-photo-2869215.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" style="margin:20px auto;display: block;border-radius:10px; height: 300px;">
  <ion-card>
    <ion-item class="ion-activated">
      <ion-icon name="bed-outline" slot="start"></ion-icon>
      <ion-label>Book Room</ion-label>
    </ion-item>
  
    <ion-item >
      <ion-icon name="cash-outline" slot="start"></ion-icon>
      <ion-label>Pay At Hotel</ion-label>
    </ion-item>
  
    <ion-item class="ion-activated">
      <ion-icon name="wifi-outline" slot="start"></ion-icon>
      <ion-label>Fast Wifi Access</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="wallet-outline" slot="start"></ion-icon>
      <ion-label>No Hidden Charge</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
