<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-card>
    <ion-card-header>
      <ion-card-title>About Page</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-text color="secondary">
     <h3> Hotels Palaces Resorts and Safaris is recognised the world over for delivering exceptional hospitality, an amalgam of world-class refinement inspired by the heritage and nobility of Indian traditions.
      With 98 hotels in 61 locations, including India, North America, United Kingdom, Africa, Middle East, Malaysia, Sri Lanka, Maldives, Bhutan and Nepal, our footprint extends across world-renowned landmark properties, best-in-class business hotels, idyllic island and hillside resorts, authentic grand palaces and ecologically sensitive wildlife safaris.
     </h3>
    </ion-text>
    <img src="https://images.pexels.com/photos/1134176/pexels-photo-1134176.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" style="margin:20px auto;display: block;border-radius:10px; height: 400px;"/>
    </ion-card-content>
  </ion-card>

</ion-content>
